body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  user-select: none;
}

ol, ul {
  padding-left: 30px;
}

#root {
  display: flex;
  justify-content: center;
}

/* Vertical Nonet Separation Lines */
.board-row > button:nth-child(3)  {
  border-right-color: black
}
.board-row button:nth-child(4) {
  border-left-color: black
}
.board-row > button:nth-child(6)  {
  border-right-color: black
}
.board-row button:nth-child(7) {
  border-left-color: black
}

/* Horizontal Nonet Separation Lines */
.board-row:nth-child(3) > button,
.board-row:nth-child(6) > button {
  border-bottom-color: black;
}
.board-row:nth-child(4) > button,
.board-row:nth-child(7) > button {
  border-top-color: black;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square.odd {
  background-color: #dddddd70;
}

.square.selected {
  background-color: rgba(92, 139, 255, 0.64);
}

.square.neighbor-selected {
  background-color: rgba(92, 139, 255, 0.38);
}

.square:hover {
  background-color: rgba(92, 139, 255, 0.81);
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.ri-container {
  position: absolute;
  display: grid;
  grid-template-columns: 34px 34px 34px;
  grid-template-rows: 34px 34px 34px;
  grid-gap: 10px;
  background-color: #fff0;
  color: #444;
}

.ri-button {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
